html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background-color: #FF5D22;
  color: #fff;
  border-radius: 4px;
  border: none;
}
